.idea
.env
*.log
*.pid
*.pyc
collectstatic
logs
*.jpg
*.jpeg
cover
.coverage
https/*
*.sql
celerybeat-schedule
app.sock
app.sock.lock
dump.rdb
*.lock
*.sock
.env.live
venv
*firebase.json
**/migrations/*
